@import url("https://fonts.googleapis.com/css?family=Chivo%20Mono:700|Chivo%20Mono:400");

:root {
  --base: #191724;
  --surface: #1f1d2e;
  --overlay: #26233a;
  --text: #e0def4;
  --love: #eb6f92;
  --gold: #f6c177;
  --rose: #ebbcba;
  --pine: #31748f;
  --foam: #9ccfd8;
  --iris: #c4a7e7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Chivo Mono";
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Chivo Mono";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */
