@import url("https://fonts.googleapis.com/css?family=Chivo%20Mono:700|Chivo%20Mono:400");

:root {
  --base: #191724;
  --surface: #1f1d2e;
  --overlay: #26233a;
  --text: #e0def4;
  --love: #eb6f92;
  --gold: #f6c177;
  --rose: #ebbcba;
  --pine: #31748f;
  --foam: #9ccfd8;
  --iris: #c4a7e7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Chivo Mono";
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle, var(--love), var(--iris));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Chivo Mono";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

.calculator-container {
  flex: 1;
  margin: 32px;
  background: var(--overlay);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  max-width: 400px;
  width: 90%;
  border: 1px solid var(--gold);
  border-radius: 10px;
  overflow: hidden;
}

.output {
  background: var(--foam);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  height: 100px;
  width: 330px;
  padding: 16px;
  margin: 16px;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

.output .previous-operand {
  color: hsl(249, 22%, 24%);
  font-size: 1rem;
}

.output .current-operand {
  color: hsl(249, 22%, 12%);
  font-size: 2rem;
}

.key-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

button {
  padding: 16px;
  font-size: 1rem;
  width: 75px;
  outline: none;
  cursor: pointer;
  border: 1px solid var(--love);
  border-radius: 5px;
  background: var(--overlay);
  color: var(--love);
  transition: border ease-in-out, color ease-in-out;
}

.big {
  width: 160px;
}

button:hover {
  border: 1px solid var(--gold);
  color: var(--gold);
}

.footer {
  color: var(--overlay);
  font-size: 0.75rem;
  padding: 16px;
}

.footer a {
  text-decoration: none;
  color: inherit;
}
